<!DOCTYPE html>
<html lang="ru-RU">
<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width">
	<link rel="stylesheet" href="normalize.css">
	<title>Тестовая страничка</title>
</head>
<body>
	<div class="wrapper">
		<header class="header">
			<div class="container">
				<div class="header__left">
					<div class="user">
						<div class="user__photo"></div>
						<div class="user__name">Имя пользователя</div>
					</div>
				</div>
				<div class="header__right">
					<a href="#" class="contacts">Контакты</a>
				</div>
			</div>
		</header>
		<section class="content">
			<div class="container">
				<aside class="sidebar">
					<nav class="nav">
						<ul class="nav__list">
							<li class="nav__item">
								<a href="#" class="nav__link">
									<span class="nav__icon"></span>
									<span class="nav__title">Обо мне</span>
								</a>
							</li>
							<li class="nav__item">
								<a href="#" class="nav__link">
									<span class="nav__icon"></span>
									<span class="nav__title">Карьерный путь</span>
								</a>
							</li>
							<li class="nav__item">
								<a href="#" class="nav__link">
									<span class="nav__icon"></span>
									<span class="nav__title">Портфолио</span>
								</a>
							</li>
						</ul>
					</nav>
				</aside>
				<main class="page">
					<div class="about">
						<div class="about__left">
							<div class="about__pic"></div>
						</div>
						<div class="about__right">
							<div class="about_desc">
								<h1 class="title">Обо мне</h1>
								<div class="about__text">
									<p>
										Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque suscipit aliquam, pariatur vitae iste quisquam, assumenda. Debitis deserunt illum natus.
									</p>
									<p>
										Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque suscipit aliquam, pariatur vitae iste quisquam, assumenda. Debitis deserunt illum natus.
									</p>
									<p>
										Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque suscipit aliquam, pariatur vitae iste quisquam, assumenda. Debitis deserunt illum natus.
									</p>
								</div>
							</div>
							<div class="about__btns">
								<a class="download-btn" href="#">Скачать резюме</a>
							</div>
						</div>
					</div>
				</main>
			</div>
		</section>
	</div>
	<footer class="footer">
		<div class="container">
			<div class="footer__left">
				<div class="copyright">&copy; Дизайн сайта был разработан в школе LoftSchool</div>
			</div>
			<div class="footer__right">
				<ul class="socials">
					<li class="socials__item">
						<a href="#" class="socials__link"></a>
					</li>
					<li class="socials__item">
						<a href="#" class="socials__link"></a>
					</li>
					<li class="socials__item">
						<a href="#" class="socials__link"></a>
					</li>
				</ul>
			</div>
		</div>
	</footer>
</body>
</html>