<!DOCTYPE html>
<html lang="ru-RU">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
	<div class="wrapper">
		<header class="header">
			<div class="container">
				<div class="header__left">
					<div class="user">
						<div class="user__img">
							<img src="../../" alt="" class="user__avatar">
						</div>
						<div class="user__name">
							Имя пользователя
						</div>
					</div>
				</div>
				<div class="header__right">
					<a href="#" class="contacts">Мои контакты</a>
				</div>
			</div>
		</header>
		<div class="content">
			<div class="container">
				<aside class="sidebar">
					<nav class="menu">
						<ul class="menu__menu">
							<li class="menu__item">
								<a href="#" class="menu__link">
									<i class="menu__link-icon"></i>
									<div class="menu__link-text">Обо мне</div>
								</a>
							</li>
							<li class="menu__item">
								<a href="#" class="menu__link">
									<i class="menu__link-icon"></i>
									<div class="menu__link-text">Карьерный путь</div>
								</a>
							</li>
							<li class="menu__item">
								<a href="#" class="menu__link">
									<i class="menu__link-icon"></i>
									<div class="menu__link-text">Портфолио</div>
								</a>
							</li>
						</ul>
					</nav>
				</aside>
				<main class="page-content">
					<div class="career">
						<h1 class="title career__title">Карьерный путь</h1>
						<div class="career__info">
							<div class="career__pic">
								<img src="../../" alt="" class="career__pic-image">
							</div>
							<ul class="jobs">
								<li class="jobs__item">
									<div class="jobs__block">
										<div class="jobs__title">Звезды путешествий</div>
										<div class="jobs__occ">Системный администратор</div>
										<div class="jobs__time">2015 - по наст время</div>
										<div class="jobs__year">2015</div>
									</div>
								</li>
								<li class="jobs__item">
									<div class="jobs__block">
										<div class="jobs__title">Звезды путешествий</div>
										<div class="jobs__occ">Системный администратор</div>
										<div class="jobs__time">2015 - по наст время</div>
										<div class="jobs__year">2015</div>
									</div>
								</li>
								<li class="jobs__item">
									<div class="jobs__block">
										<div class="jobs__title">Звезды путешествий</div>
										<div class="jobs__occ">Системный администратор</div>
										<div class="jobs__time">2015 - по наст время</div>
										<div class="jobs__year">2015</div>
									</div>
								</li>
								<li class="jobs__item">
									<div class="jobs__block">
										<div class="jobs__title">Звезды путешествий</div>
										<div class="jobs__occ">Системный администратор</div>
										<div class="jobs__time">2015 - по наст время</div>
										<div class="jobs__year">2015</div>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</main>
			</div>
		</div>
		<footer class="footer">
			<div class="container">
				<div class="footer__left">
					<div class="copyright">
						&copy; Дизайн сайта был разработан в школе LoftSchool
					</div>
				</div>
				<div class="footer__right">
					<ul class="socials">
						<li class="socials__item">
							<a href="#" class="socials__link"></a>
						</li>
						<li class="socials__item">
							<a href="#" class="socials__link"></a>
						</li>
						<li class="socials__item">
							<a href="#" class="socials__link"></a>
						</li>
					</ul>
				</div>
			</div>
		</footer>
	</div>
</body>
</html>