<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <title>Портфолио на курсе для начинающих в LoftSchool</title>
        <meta content="Портфолио на курсе для начинающих в LoftSchool" name="description">
        <meta content="Сайт-портфолио, начинающие веб-разработчики, LoftSchool" name="keywords">
        <meta content="width=device-width, initial-scale=1" name="viewport">
        <meta content="ie=edge" http-equiv="x-ua-compatible">
        <link sizes="16x16" href="images/favicon.png" rel="icon" type="image/png">
        <link rel="stylesheet" href="css/foundation.css">
        <link rel="stylesheet" href="css/app.css">
    </head>
    <body>
        <div class="wrapper">
            <header class="header">
                <div class="container">
                    <div class="header__inner clearfix">
                        <div class="header__content clearfix">
                            <div class="header__avatar"></div>
                            <h2 class="header__name">Игошева Анастасия</h2>
                        </div>
                        <div class="header__contacts">
                            <a class="header__link">Мои контакты</a>
                        </div>
                    </div>
                </div>
            </header>
            <section class="main">
                <div class="container">
                    <aside class="main__aside">
                        <nav class="main__nav">
                            <ul class="main__nav-list">
                                <li class="main__nav-item">
                                    <a class="main__nav-link main__nav-link--about" href="../about.html">
                                        <i class="fa fa-user-secret main__nav-icon"></i>
                                        Обо мне
                                    </a>
                                </li>
                                <li class="main__nav-item">
                                    <a class="main__nav-link main__nav-link--career" href="../career.html">
                                        <i class="fa fa-user-secret main__nav-icon"></i>Карьерный путь</a>
                                </li>
                                <li class="main__nav-item main__nav-item--active">
                                    <a class="main__nav-link main__nav-link--portfolio" href="./">
                                        <i class="fa fa-briefcase main__nav-icon"></i>Портфолио</a>
                                </li>
                            </ul>
                        </nav>
                    </aside>
                    <main class="main__content">
                        <h1 class="main__title">Портфолио</h1>
                        <ul class="main__portfolio clearfix">
                            <li class="main__portfolio-item">
                                <img class="main__portfolio-img" src="images/content/project-1.jpg" alt="project-1" title="project-1">
                                <div class="main__portfolio-content">
                                    <h3 class="main__portfolio-title">Deals App</h3>
                                    <p class="main__portfolio-description">Продажа одежды</p>
                                    <p class="main__portfolio-extra">
                                    <i class="fa fa-mobile main__portfolio-icon"></i>
                                    Приложение
                                </p>
                                </div>
                            </li>
                            <li class="main__portfolio-item"><img class="main__portfolio-img" src="images/content/project-2.jpg" alt="project-2" title="project-2">
                                <div class="main__portfolio-content">
                                    <h3 class="main__portfolio-title">Dream-scapes</h3>
                                    <p class="main__portfolio-description">Лагуна Люфтганза</p>
                                    <p class="main__portfolio-extra"><i class="fa fa-desktop main__portfolio-icon"></i>Лендинг</p>
                                </div>
                            </li>
                            <li class="main__portfolio-item"><img class="main__portfolio-img" src="images/content/project-3.jpg" alt="project-3" title="project-3">
                                <div class="main__portfolio-content">
                                    <h3 class="main__portfolio-title">Creative studio</h3>
                                    <p class="main__portfolio-description">Танцевальная студия</p>
                                    <p class="main__portfolio-extra"><i class="fa fa-desktop main__portfolio-icon"></i>Лендинг</p>
                                </div>
                            </li>
                            <li class="main__portfolio-item"><img class="main__portfolio-img" src="images/content/project-4.jpg" alt="project-4" title="project-4">
                                <div class="main__portfolio-content">
                                    <h3 class="main__portfolio-title">Studio Frog</h3>
                                    <p class="main__portfolio-description">Мебельный магазин</p>
                                    <p class="main__portfolio-extra"><i class="fa fa-desktop main__portfolio-icon"></i>Лендинг</p>
                                </div>
                            </li>
                            <li class="main__portfolio-item"><img class="main__portfolio-img" src="images/content/project-5.jpg" alt="project-5" title="project-5">
                                <div class="main__portfolio-content">
                                    <h3 class="main__portfolio-title">Carbonara</h3>
                                    <p class="main__portfolio-description">Итальянсий ресторан</p>
                                    <p class="main__portfolio-extra"><i class="fa fa-desktop main__portfolio-icon"></i>Лендинг</p>
                                </div>
                            </li>
                        </ul>
                    </main>
                </div>
            </section>
            <footer class="footer">
                <div class="container">
                    <div class="footer__inner clearfix">
                        <p class="footer__text">© Дизайн сайта был разработан в школе LoftSchool</p>
                        <ul class="footer__social-list clearfix">
                            <li class="footer__social-item">
                                <a class="footer__social-link" href="#">
                                    <img class="footer__social-svg" src="images/icons/vk.svg" alt="vk" title="vk">
                                </a>
                            </li>
                            <li class="footer__social-item">
                                <a class="footer__social-link" href="#">
                                    <img class="footer__social-svg" src="images/icons/twitter.svg" alt="twitter" title="twitter">
                                </a>
                            </li>
                            <li class="footer__social-item">
                                <a class="footer__social-link" href="#">
                                    <img class="footer__social-svg" src="images/icons/facebook.svg" alt="facebook" title="facebook">
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
          </footer>
        </div>
    </body>
</html>