.menu__link {
	display: block;
	text-align: right;
	padding: 10px 25px 10px 0;
	text-decoration: none;
	color: #414141;
	border-right: 6px solid transparent;
}

.menu__link:hover {
	color: #33c1e3;
}

.menu__icon, .menu__text {
	display: inline-block;
	vertical-align: middle;
}

.menu__text {
	margin-left: 13px;
}

.menu__item--active .menu__link {
	color: #33c1e3;
	border-color: #33c1e3;
	font-weight: 600;
}